body {
    background: linear-gradient(to right, blue, pink);
}

.carousel-inner {
    width: 100%;
    height: 450px;
    opacity: 0.8;
}

.cardd {
    display: flex;
    justify-content:space-around;
    margin: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    background: linear-gradient(to top, lime, 20%, cyan);  
}

h2:hover {
    color: blue;
    font-size: 40px;

}

